argh==0.26.2
autopep8==1.5.6
brotlipy==0.7.0
colorama==0.4.4
flake8==3.9.0
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
importlib-metadata==3.7.3
matplotlib==3.3.4
olefile==0.46
pip==21.0.1
pydocstyle==5.1.1
pyOpenSSL==20.0.1
PySocks==1.7.1
PyYAML==5.4.1
rope==0.18.0
Rtree==0.9.4
scikit-learn==0.24.1
sip==4.19.13
spyder==4.2.3
statsmodels==0.12.2
wheel==0.36.2
yapf==0.31.0
